<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: blueviolet;">
    <i style="color: aqua;">
    <center>
    <h1>Hii uday where are you?????</h1>
    <a href="{% url 'uday' %}"><h2> uday generic response</h2></a>
    <h1>Hii pavan where are you?????</h1>
   <a href="{% url 'specific:pavan' %}"><h2>pavan specific response</h2></a>
   <h1>Hii bhuvi where are you?????</h1>
   <a href="{% url 'specific:bhuvi' %}"><h2>bhuvi specific response</h2></a>
    </center>
    </i>
    
</body>
</html>